# Ignore all files inside data directory
data/

# Ignore zip and txt files
*.zip
*.txt

# Keep the .gitignore itself
!.gitignore

# Ignore specific large folders (Relative paths!)
STG-NF-main/
mmskeleton/
ubnormal/

# Explicitly ignore common dataset zip/txt at repo root
/Avenue_Dataset.zip
/data.zip
/shanghaitech.zip
/ubnormal.zip
/test_annotations.txt

# Python cache
__pycache__/
*.py[cod]